# ----------------------------------------------
# CMake
# ----------------------------------------------

*.cmake
CMakeFiles

/install_manifest.txt
/CMakeCache.txt

# ----------------------------------------------
# Ninja
# ----------------------------------------------

/.ninja_log
/build.ninja
/rules.ninja

# ----------------------------------------------
# Make
# ----------------------------------------------

Makefile

# ----------------------------------------------
# Build Artifacts
# ----------------------------------------------

*.so

/doc/html/waffle.7.html
/doc/html/waffle_attrib_list.3.html
/doc/html/waffle_config.3.html
/doc/html/waffle_context.3.html
/doc/html/waffle_display.3.html
/doc/html/waffle_dl.3.html
/doc/html/waffle_enum.3.html
/doc/html/waffle_error.3.html
/doc/html/waffle_gbm.3.html
/doc/html/waffle_get_proc_address.3.html
/doc/html/waffle_glx.3.html
/doc/html/waffle_gl_misc.3.html
/doc/html/waffle_init.3.html
/doc/html/waffle_is_extension_in_string.3.html
/doc/html/waffle_make_current.3.html
/doc/html/waffle_native.3.html
/doc/html/waffle_wayland.3.html
/doc/html/waffle_window.3.html
/doc/html/waffle_x11_egl.3.html
/examples/gl_basic
/examples/simple-x11-egl
/lib/
/src/waffle/libwaffle_static.a
/tests/functional/gl_basic_test
/tests/unittests/waffle-unittest
/waffle-1.pc
