# ----------------------------------------------
# CMake
# ----------------------------------------------

*.cmake
CMakeFiles

/install_manifest.txt
/CMakeCache.txt

# ----------------------------------------------
# Ninja
# ----------------------------------------------

/.ninja_log
/build.ninja
/rules.ninja

# ----------------------------------------------
# Make
# ----------------------------------------------

Makefile

# ----------------------------------------------
# Build Artifacts
# ----------------------------------------------

*.so

/doc/html/
/examples/gl_basic
/examples/simple-x11-egl
/lib/
/src/waffle/libwaffle_static.a
/tests/functional/gl_basic_test
/tests/unittests/waffle-unittest
/waffle-1.pc
