# ----------------------------------------------
# CMake
# ----------------------------------------------

cmake_install.cmake
CMakeFiles

/install_manifest.txt
/CMakeCache.txt

# ----------------------------------------------
# Ninja
# ----------------------------------------------

/.ninja_deps
/.ninja_log
/build.ninja
/rules.ninja

# ----------------------------------------------
# Make
# ----------------------------------------------

Makefile

# ----------------------------------------------
# Build Artifacts
# ----------------------------------------------

*.a
*.so

/bin/gl_basic_test
/bin/wflinfo
/doc/html/man/waffle.7.html
/doc/html/man/waffle_attrib_list.3.html
/doc/html/man/waffle_config.3.html
/doc/html/man/waffle_context.3.html
/doc/html/man/waffle_display.3.html
/doc/html/man/waffle_dl.3.html
/doc/html/man/waffle_enum.3.html
/doc/html/man/waffle_error.3.html
/doc/html/man/waffle_feature_test_macros.7.html
/doc/html/man/waffle_gbm.3.html
/doc/html/man/waffle_get_proc_address.3.html
/doc/html/man/waffle_glx.3.html
/doc/html/man/waffle_gl_misc.3.html
/doc/html/man/waffle_init.3.html
/doc/html/man/waffle_is_extension_in_string.3.html
/doc/html/man/waffle_make_current.3.html
/doc/html/man/waffle_native.3.html
/doc/html/man/waffle_wayland.3.html
/doc/html/man/waffle_window.3.html
/doc/html/man/waffle_x11_egl.3.html
/doc/html/man/wflinfo.1.html
/examples/gl_basic
/examples/simple-x11-egl
/lib/
/libcmocka.a
/src/waffle/libwaffle_static.a
/tests/waffle_test/libwaffle_test.dylib
/tests/unittests/waffle-unittest
/tests/wcore_attrib_list_unittest
/tests/wcore_config_attrs_unittest
/tests/wcore_error_unittest
/waffle-1.pc
