Adrian Marius Negreanu <adrian.m.negreanu@intel.com>
Arthur She <arthur.she@linaro.org>
Arun Sl <arun.sl@tcs.com>
Ben Widawsky <ben@bwidawsk.net>
Brian Paul <brianp@vmware.com>
Chad Versace <chad.versace@linux.intel.com> <chad@chad-versace.us>
Emil Velikov <emil.l.velikov@gmail.com>
Jeff Bland <jksb@linux.com> <jksb@member.fsf.org>
Jordan Justen <jordan.l.justen@intel.com> <jljusten@gmail.com>
Josh Triplett <josh@joshtriplett.org>
Juha-Pekka Heikkila <juha-pekka.heikkila@linux.intel.com>
Kenneth Graunke <kenneth@whitecape.org>
Marek Olšák <marek.olsak@amd.com> <maraeo@gmail.com>
Matt Turner <mattst88@gmail.com>
Nigel Stewart <nigels@users.sourceforge.net>
Paul Berry <stereotype441@gmail.com>
Pauli Nieminen <pauli.nieminen@linux.intel.com>
Rob Bradford <rob@linux.intel.com>
Ross Burton <ross.burton@intel.com>
Tom Gall <tom.gall@linaro.org>
